node_modules/

javascript/**/.eslintignore
javascript/**/.eslintrc
javascript/**/.npmrc
javascript/**/babel.config.js
javascript/**/jest.config.js
javascript/**/package.json
javascript/**/tsconfig.json
javascript/**/yarn.lock

typescript/**/.eslintignore
typescript/**/.eslintrc
typescript/**/.npmrc
typescript/**/babel.config.js
typescript/**/jest.config.js
typescript/**/package.json
typescript/**/tsconfig.json
typescript/**/yarn.lock